<!DOCTYPE html>
<html>
<head>
	<title>Запросы</title>
</head>
<body>
	<h1><a href="/">Главная</a></h1>

	<p><a href="/queries/sport-sportsmen">
		2. Получить список спортсменов, занимающихся определённым видом спорта в целом или не ниже разряда
	</a></p>

	<p><a href="/queries/trainer-sportsmen">
		3. Получить список спортсменов, занимающихся у тренера в целом или не ниже разряда
	</a></p>

	<p><a href="/queries/sportsmen-involved-in-several-sports">
		4. Получить список спортсменов, занимающихся более чем одним видом спорта с указанием этих видов спорта
	</a></p>

	<p><a href="/queries/sportsman-trainers">
		5. Получить тренеров спортсмена
	</a></p>

	<p><a href="/queries/tournaments-for-period">
		6. Получить перечень соревнований, проведенных в течение заданного периода времени в целом либо указанным организатором.
	</a></p>

	<p><a href="/queries/tournament-prize-winners">
		7. Получить призёров соревнования
	</a></p>

	<p><a href="/queries/place-tournaments">
		8. Получить перечень соревнований, проведенных в указанном спортивном сооружении в целом либо по определенному виду спорта.
	</a></p>

	<p><a href="/queries/sport-trainers">
		10. Получить тренеров по виду спорта
	</a></p>
</body>
</html>
