{{ $SportsmanSports := .Sportsman.Sports }}
{{ $SportsmanClub := .Sportsman.Club }}

<!DOCTYPE html>
<html>
<head>
	<title>{{ .Sportsman.Name }}</title>
</head>
<body>
	<h1><a href="/">Главная</a></h1>
	<form action="/sportsmen/{{ .Sportsman.ID }}/update" method="POST">
		<label for="name">Имя:</label>
		<input type="text" id="name" name="name" value="{{ .Sportsman.Name }}" required>

		<br/>

		<label for="birth_date">Дата рождения:</label>
		<input type="date" id="birth_date" name="birth_date" value="{{ .Sportsman.BirthDateString }}" required>

		<br/>

		<label for="height_cm">Рост (см):</label>
		<input type="number" id="height_cm" name="height_cm" min="50" max="300" value="{{ .Sportsman.HeightCm }}" required>

		<br/>

		<label for="weight_kg">Вес (кг):</label>
		<input type="number" id="weight_kg" name="weight_kg" step="0.1" min="1" max="300" value="{{ .Sportsman.WeightKg }}" required>

		<br/>

		<label for="club_id">Клуб:</label>
		<select id="club_id" name="club_id">
			{{ range .Clubs }}
				<option value="{{ .ID }}" {{ if ContainsClub $SportsmanClub . }}selected{{ end }}>{{ .Name }}</option>
			{{ end }}
		</select>

		<label for="sport_ids">Виды спорта:</label>
		<select id="sport_ids" name="sport_ids" multiple>
			{{ range .Sports }}
				<option value="{{ .ID }}" {{ if ContainsSport $SportsmanSports . }}selected{{ end }}>{{ .Name }}</option>
			{{ end }}
		</select>

		<br/>

		<button type="submit">Сохранить</button>
	</form>

	<br/>

	<form action="/sportsmen/{{ .Sportsman.ID }}/delete" method="POST">
		<button type="submit">Удалить</button>
	</form>
</body>
</html>
